<header id="header" class="fixed-top">
  <div class="container d-flex">

    <div class="logo mr-auto">
      <a href="#">Advizmo</a>
    </div>

    <nav class="nav-menu  d-lg-block logo-right">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#6b6c72" width="22px" height="22px">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        <path d="M0 0h24v24H0z" fill="none" /></svg>
    </nav><!-- .nav-menu -->
  </div>
</header>

<main id="main">
  <section id="services" class="services ">
    <div class="container">

      <div class="section-title ">

        <h2>Accounts<svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 0 24 24" fill="#06b6c9" width="26">
            <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z" />
            <path d="M0 0h24v24H0V0z" fill="none" /></svg></h2>

      </div>

      <div class="row m-auto service-row">
        <div class="col-2">
          <img class="service-img" src="/assets/dollar-icon.jpg">
        </div>
        <div class="col-6">
          <span class="service-text">Net Worth</span>
        </div>
        <div class="col-4">
          <span class="service-price">${{ getRoundedOffVal(net_worth.toString()) }}</span>
        </div>
      </div>

      <div class="row m-auto service-row">
        <div class="col-2">
          <img class="service-img" src="/assets/saving-icon.jpg">
        </div>
        <div class="col-6">
          <span class="service-text">Checking</span>
        </div>
        <div class="col-4">
          <span class="service-price">${{ getRoundedOffVal(checking_amount.toString()) }}</span>
        </div>
      </div>

      <div class="row m-auto service-row">
        <div class="col-2">
          <img class="service-img" src="/assets/saving-icon.jpg">
        </div>
        <div class="col-6">
          <span class="service-text">Savings</span>
        </div>
        <div class="col-4">
          <span class="service-price">${{ getRoundedOffVal(savings_amount.toString()) }}</span>
        </div>
      </div>

      <div class="row m-auto service-row">
        <div class="col-2">
          <img class="service-img" src="/assets/credit-icon.jpg">
        </div>
        <div class="col-6">
          <span class="service-text">Credit cards</span>
        </div>
        <div class="col-4">
          <span class="service-price credit-color">${{ getRoundedOffVal(credit_card_amount.toString()) }}</span>
        </div>
      </div>

      <div class="row m-auto service-row">
        <div class="col-2">
          <img class="service-img" src="/assets/graph-icon.jpg">
        </div>
        <div class="col-6">
          <span class="service-text">Investments</span>
        </div>
        <div class="col-4">
          <span class="service-price">${{ getRoundedOffVal(investment_amount.toString()) }}</span>
        </div>
      </div>

      <div class="row m-auto service-row">
        <div class="col-2">
          <img class="service-img" src="/assets/graph-icon.jpg">
        </div>
        <div class="col-6">
          <span class="service-text">Loans</span>
        </div>
        <div class="col-4">
          <span class="service-price credit-color">${{ getRoundedOffVal(loan_amount.toString()) }}</span>
        </div>
      </div>



      <div class="section-title ">

        <h2>Upcoming bills<svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 0 24 24" fill="#06b6c9"
            width="26">
            <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z" />
            <path d="M0 0h24v24H0V0z" fill="none" /></svg></h2>
        <!--<span class="owe">You owe $2,254 total over the next 30cdays.</span>-->
      </div>

      <div class="row m-auto service-row">
        <div class="col-1 date-col">
          <span class="service-date">Jan <br />27</span>
        </div>
        <div class="col-7">
          <span class="service-courier">Blue Cash Every..</span>
          <span class="service-date"> <img class="danger-img" src="/assets/danger-icocn.jpg">Past due</span>
          <span class="duedate"></span>
        </div>
        <div class="col-4">
          <span class="service-dollar">$175.73</span>
          <a class="mark-text" href="">Mark as Paid</a>
        </div>
      </div>

      <div class="row m-auto service-row">
        <div class="col-1 date-col">
          <span class="service-date">Mar <br />27</span>
        </div>
        <div class="col-7">
          <span class="service-courier">CREDIT CARD</span>
          <span class="service-date">Autopay</span>
          <span class="duedate"></span>
        </div>
        <div class="col-4">
          <span class="service-dollar">$1041.73</span>
          <a class="mark-text" href="">Mark as Paid</a>
        </div>
      </div>

      <div class="row m-auto service-row">
        <div class="col-1 date-col">
          <span class="service-date">Apr <br />22</span>
        </div>
        <div class="col-7">
          <span class="service-courier">CREDIT CARD</span>
          <span class="service-date">Autopay</span>
          <span class="duedate"></span>
        </div>
        <div class="col-4">
          <span class="service-dollar">$1063.73</span>
          <a class="mark-text" href="">Mark as Paid</a>
        </div>
      </div>



      <div class="section-title ">

        <h2>Transactions<svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 0 24 24" fill="#06b6c9"
            width="26">
            <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z" />
            <path d="M0 0h24v24H0V0z" fill="none" /></svg></h2>

      </div>
      <div class="row m-auto service-row">
        <div class="col-8">
          <span class="service-courier transaction-text">FID BKGSVC LLC CO EN...</span>
          <span class="service-date">Buy</span>
        </div>
        <div class="col-4">
          <span class="service-dollar">-$1703.00</span>
          <span class="paid-date">Mar 05,2020</span>
        </div>
      </div>

      <div class="row m-auto service-row">
        <div class="col-8">
          <span class="service-courier transaction-text">Dollar Tree</span>
          <span class="service-date">Shopping</span>
        </div>
        <div class="col-4">
          <span class="service-dollar">-$744.00</span>
          <span class="paid-date">Mar 05,2020</span>
        </div>
      </div>

      <div class="row m-auto service-row">
        <div class="col-8">
          <span class="service-courier transaction-text">WESTFORD HARDWARE</span>
          <span class="service-date">Home</span>
        </div>
        <div class="col-4">
          <span class="service-dollar">-$10.14</span>
          <span class="paid-date">Mar 05,2020</span>
        </div>
      </div>

      <div class="row m-auto service-row">
        <div class="col-8">
          <span class="service-courier transaction-text">Apple</span>
          <span class="service-date">Electronics & Software</span>
        </div>
        <div class="col-4">
          <span class="service-dollar">-$1097.56</span>
          <span class="paid-date">Mar 04,2020</span>
        </div>
      </div>
      <div class="row m-auto service-row">
        <div class="col-8">
          <span class="service-courier">ACADEMY EXPRESS</span>
          <span class="service-date">Travel</span>
        </div>
        <div class="col-4">
          <span class="service-dollar">-$15.56</span>
          <span class="paid-date">Mar 04,2020</span>
        </div>
      </div>

      <div class="row plaid-link">
        <mr-ngx-plaid-link-button env="sandbox" publicKey="e145e84b11389031af8d719506f131" institution=""
          [countryCodes]="['US', 'CA', 'GB']" (Success)="onPlaidSuccess($event)" (Exit)="onPlaidExit($event)"
          (Load)="onPlaidLoad($event)" (Event)="onPlaidEvent($event)" className="launch-plaid-link-button"
          buttonText="Link Your Bank Account" (Click)="onPlaidClick($event)"></mr-ngx-plaid-link-button>
      </div>

    </div>
  </section>



</main>
<footer id="footer">
  <div class="container"> 
  <ul class="bottom-footer">
    <li>
      <a href="#">
        Overview
      </a>
    </li>
    <li>
      <a href="#">
        Alerts
      </a>
    </li>
    <li>
      <a href="#">
        Offers
      </a>
    </li>
    <li>
      <a href="#">
        Settings
      </a>
    </li>
  </ul>
  </div>
</footer>

<router-outlet></router-outlet>